<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <h1>Input Form</h1>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="blur()" placeholder="Name">
                    <input type="submit" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <h1 style="text-decoration: underline;">Form Results:</h1>
                <div id="score_tag"> Score tag: </div>
                <div id="agreement"> Agreement: </div>
                <div id="subjectivity"> Subjectivity: </div>
                <div id="confidence">Confidence: </div>
                <div id="irony">Irony: </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
